@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.font-nunito {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
}

.font-borel {
  font-family: "Borel", serif;
}

.active {
  color: #9C4DF4;
}